.alert-danger {
    color: #FFF;
    background-color: rgba(0,0,0,.2);
    border-color: #EF4040;
}
.alert {
    padding: 15px;
    border-left-width: 6px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    padding-right: 35px;
}